{% extends "investalyze/layout.html" %}

{% block body %}
    
        <div class="row mx-3">
            <div class="col-2">
                <h4 class="float-md-start header display-6 d-inline">Dashboard</h4>
            </div>
            <div class="col">
                {% include "investalyze/includes/messages.html" %}
            </div>
            <div class="col-2">
                <form class="float-md-end d-inline" action="{% url 'dashboard' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="btn btn-outline-light">
                    <h4 class="mb-0 display-6">Upload</h4> <input type="file" name="file" onchange="form.submit()" hidden>
                    </label>
                </form>   
            </div>
        </div>

{% endblock body %}
